.header {
  margin-top: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header input {
  border: none;
  padding: .5rem 1rem;
  width: 300px;
  background-color: rgb(212, 212, 212);
  border-radius: 1rem;
  outline: none;
  color: #000;
  box-shadow: 0px 0px 10px 8px rgba(255, 255, 255, 0.5);
}

.header input::placeholder {
  color: #000;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  height: 100%;
  margin-top: 3rem;
}

.go-top {
  position: fixed;
  bottom: -90px;
  right: -90px;
}

.go-top button {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: none;
  background: url("../../assets/pikasvg.svg");
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
  transition: transform 0.4s;
  transform-style: preserve-3d;
}

.go-top button:hover {
  transform: rotate3d(0, .6, -1, 10deg);
}

.more {
  position: fixed;
  bottom:10px;
  left:10px;
}

.more button {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: none;
  background: url("../../assets/pokeball.png");
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
  transition: transform 0.4s;
  transform-style: preserve-3d;
}

.more button:hover {
  transform: rotate(520deg);
}

.loader {
  font-size: 10px;
  margin: 50px auto;
  text-indent: -9999em;
  width: 11em;
  height: 11em;
  border-radius: 50%;
  background: #ffffff;
  background: -moz-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
  background: -webkit-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
  background: -o-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
  background: -ms-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
  background: linear-gradient(to right, #f00000 10%, rgba(255, 255, 255, 0) 42%);
  position: relative;
  -webkit-animation: load3 1.4s infinite linear;
  animation: load3 1.4s infinite linear;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}
.loader:before {
  width: 50%;
  height: 50%;
  background: #f00000;
  border-radius: 100% 0 0 0;
  position: absolute;
  top: 0;
  left: 0;
  content: '';
}
.loader:after {
  background: url("../../assets/pokeball.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 75%;
  height: 75%;
  border-radius: 50%;
  content: '';
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
@-webkit-keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

